##################### NODE ENVIRONMENT #####################
NODE_ENV=api-int-tests

############### USER DATABASE CONFIGURATION ################
DB_USER=int_test_user
DB_PASSWORD=int_test_user_password
DB_NAME=int_test_trading_bot_db
DB_HOST=localhost
DB_PORT=5433

############### AUTO TRADER CONFIGURATION ##################
######------------------------------------------------######

############## USER CONTROL PANEL CONFIGURATION ############
UCP_PORT=4300

#################### API CONFIGURATION #####################
API_PORT=3002
MAX_PASSWORD_RESET_ATTEMPTS=5

OUTBOX_CLEANUP_BATCH_SIZE=500
OUTBOX_CLEANUP_INTERVAL_MS=60000
OUTBOX_RETENTION_HOURS=24

################# DOCKER CONFIGURATION #####################
DOCKER_PROJECT_NAME=trading_assist_api_int_tests
DOCKER_DB_VOLUME=./docker/volumes/int_test_db
DOCKER_RMQ_VOLUME=./docker/volumes/int_test_rmq
DOCKER_DB_CONTAINER_NAME=postgres-dev-db
DOCKER_PROFILE=api-service

################# RABBITMQ CONFIGURATION #####################
RMQ_HOST=localhost
RMQ_PORT=5673
RMQ_MANAGEMENT_PORT=15674
RMQ_USER=guest
RMQ_PASSWORD=guest

################# ELASTICSEARCH CONFIGURATION #####################
ELASTICSEARCH_PORT=9201
ELASTICSEARCH_SECURITY_ENABLED=false
ES_JAVA_OPTS=-Xms512m -Xmx512m

################# KIBANA CONFIGURATION #####################
KIBANA_PORT=5602

################# LOGGER CONFIGURATION #####################
LOG_ENABLE_ELASTICSEARCH=false
LOG_ELASTICSEARCH_NODE=http://localhost:${ELASTICSEARCH_PORT}
LOG_ELASTICSEARCH_INDEX=logs-trading-bot

################# JWT CONFIGURATION #####################
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=24h
