############### USER DATABASE CONFIGURATION ################
DB_USER=int_test_user
DB_PASSWORD=int_test_user_password
DB_NAME=int_test_trading_bot_db
DB_HOST=localhost
DB_PORT=5433

############### AUTO TRADER CONFIGURATION ##################
######------------------------------------------------######

############## USER CONTROL PANEL CONFIGURATION ############
UCP_PORT=4300;

#################### API CONFIGURATION #####################
API_PORT=3001;

################# DOCKER CONFIGURATION #####################
DOCKER_DB_VOLUME=./docker/volumes/int_test_db
DOCKER_DB_CONTAINER_NAME=postgres-dev-db