##################### NODE ENVIRONMENT #####################
NODE_ENV=development

############### USER DATABASE CONFIGURATION ################
DB_USER=local_user
DB_PASSWORD=local_user_password
DB_NAME=local_trading_bot_db
DB_HOST=localhost
DB_PORT=5432

############### AUTO TRADER CONFIGURATION ##################
######------------------------------------------------######

############## USER CONTROL PANEL CONFIGURATION ############
UCP_PORT=4200

#################### API CONFIGURATION #####################
API_PORT=3001
API_BASE_URL=http://localhost:${API_PORT}
MAX_PASSWORD_RESET_ATTEMPTS=5

OUTBOX_CLEANUP_BATCH_SIZE=500
OUTBOX_CLEANUP_INTERVAL_MS=60000
OUTBOX_RETENTION_HOURS=24

################# DOCKER CONFIGURATION #####################
DOCKER_PROJECT_NAME=trading_assist_dev
DOCKER_DB_VOLUME=./docker/volumes/local_db
DOCKER_RMQ_VOLUME=./docker/volumes/local_rmq
DOCKER_ELASTICSEARCH_VOLUME=elasticsearch_data
DOCKER_KIBANA_VOLUME=kibana_data
DOCKER_REDIS_VOLUME=./docker/volumes/local_redis
DOCKER_DB_CONTAINER_NAME=postgres-dev-db
DOCKER_PROFILE=external

################# RABBITMQ CONFIGURATION #####################
RMQ_HOST=localhost
RMQ_PORT=5672
RMQ_MANAGEMENT_PORT=15672
RMQ_USER=guest
RMQ_PASSWORD=guest

################# ELASTICSEARCH CONFIGURATION #####################
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_SECURITY_ENABLED=false
ES_JAVA_OPTS=-Xms512m -Xmx512m

LOG_ENABLE_CONSOLE=true
LOG_ENABLE_ELASTICSEARCH=false
LOG_ELASTICSEARCH_NODE=http://localhost:${ELASTICSEARCH_PORT}
LOG_ELASTICSEARCH_INDEX=logs-trading-bot
LOG_ELASTICSEARCH_AUTH_HEADER=Bearer your-example-token
LOG_ELASTICSEARCH_API_KEY=ZXhhbXBsZTpleGFtcGxl
LOG_ELASTICSEARCH_USERNAME=elastic
LOG_ELASTICSEARCH_PASSWORD=your-example-password

################# KIBANA CONFIGURATION #####################
KIBANA_PORT=5601

################# REDIS CONFIGURATION #####################
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

################# LOGGER CONFIGURATION #####################
LOG_ENABLE_CONSOLE=true
LOG_ENABLE_ELASTICSEARCH=false
LOG_ELASTICSEARCH_NODE=http://localhost:${ELASTICSEARCH_PORT}
LOG_ELASTICSEARCH_INDEX=logs-trading-bot
LOG_ELASTICSEARCH_AUTH_HEADER=Bearer your-example-token
LOG_ELASTICSEARCH_API_KEY=ZXhhbXBsZTpleGFtcGxl
LOG_ELASTICSEARCH_USERNAME=elastic
LOG_ELASTICSEARCH_PASSWORD=your-example-password

################# JWT CONFIGURATION #####################
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=24h
