######## AWS ECR #########
AWS_ECR_REGION=eu-north-1
AWS_ECR_ACCOUNT_ID=123456789101
AWS_ECR_REPO_NAMESPACE=trading-bot
AWS_ECR_ACCESS_KEY_ID=<aws-access-key-id>
AWS_ECR_SECRET_ACCESS_KEY=<aws-secret-access-key-id>

AWS_EC2_SSH_HOST=<ec2-ssh-host>
AWS_EC2_SSH_USER=<ec2-ssh-user>
AWS_EC2_SSH_PORT=<ec2-ssh-port>
AWS_EC2_SSH_PEM_PATH=<ec2-path-to-pem-file>

DB_HOST=<data-base-host>
DB_PORT=<data-base-port>
DB_NAME=<data-base-name>
DB_USER=<data-base-user>
DB_PASSWORD=<data-base-password>
DB_MIGRATION_USER=<data-base-migration>
DB_MIGRATION_PASSWORD=<data-base-password>

OUTBOX_CLEANUP_BATCH_SIZE=500
OUTBOX_CLEANUP_INTERVAL_MS=60000
OUTBOX_RETENTION_HOURS=24