DB_USER=int_test_user
DB_PASSWORD=int_test_user_password
DB_NAME=int_test_trading_bot_db
DB_HOST=localhost
DB_PORT=5433
DB_DOCKER_VOLUME=./docker/volumes/integration_tests_db
DB_DOCKER_CONTAINER_NAME=postgres-int-db